*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 156, 231);
}
html{
    background-color: rgba(190, 122, 176, 0.158);
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (max-width: 1200px){
    body{
        width: 100%;
    }
}
.MatthewInfo{
    padding-top: 40px;
    text-align: left;
    margin: 10px;
}
p{
    padding-top: 10px;
}
li{
    text-align: left;   
}
h2{
    padding-bottom: 5px;
    text-align: center;
}
h1{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    padding-bottom: 15px;
}
img{
    width: 100%;
    
}
.img-1{
    width: 300px;

}
header, main, footer, div{
    border: 2px;
    margin: 2px;
    padding: 10px;
    text-align: center;
}

.box-1{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    display: grid;
    grid-template:
    "a b" / 1fr 2fr;
}
.img-1 {
    display: grid;
    grid-area: a;
}
.bradinfo{
    display: grid;
    grid-area: b;
}

@media (max-width: 800px) {
    .box-1{
        display: grid;
        grid-template:
        "a"
        "b" / 1fr;      
    }
    .img-1{
        margin-left: auto;
        margin-right: auto;
    }
}

.box-2{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    display: grid;
    grid-template:
    "a b" / 1fr 1fr;
}
.MovieList{
    display: grid;
    grid-area: a;
}
.AwardList{
    display: grid;
    grid-area: b;
}
@media (max-width: 800px){
    .box-2{
        display: grid;
        grid-template:
        "a"
        "b";
    }
    
}





