*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
html{
    background-color: rgba(0, 0, 0, 0.397);
}
.bradinfo{
    padding-top: 5px;
    text-align: left;
}
p{
    padding-top: 5px;
}
li{
    text-align: left;
    
}
h2{
    padding-bottom: 5px;
    text-align: center;
}
h1{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    padding-bottom: 15px;
}
img{
    width: 100%;
}
header, main, footer, div{
    border: 2px;
    margin: 2px;
    padding: 10px;
    text-align: center;
}

/* MAIN ! */

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1024px;
    margin: auto;

}
/* FITTKOD */
/* 
    display: grid;
    grid-template:
    "a a"
    "b c"
    "d e"
    "f f"

}
@media (max-width: 800px){
    body{
        display: grid;
        grid-template:
        "a a"
        "b c"
        "d e"
        "f f"
    }
} */

/* RAD 1 */

.box-1{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    display: grid;
    grid-template:
    "a b" / 1fr 2fr;
}
.img-1 {
    display: grid;
    grid-area: a;
}
.bradinfo{
    display: grid;
    grid-area: b;
}

@media (max-width: 500px) {
    main{
        display: grid;
        grid-template:
        "a"
        "b" / 1fr;      
    }
}

/* RAD 2 */

.box-2{
    border-bottom: 2px solid rgba(0, 0, 0, 0.199);
    display: grid;
    grid-template:
    "a b" / 1fr 1fr;
}
.MovieList{
    display: grid;
    grid-area: a;
}
.AwardList{
    display: grid;
    grid-area: b;
}
@media (max-width: 500px){
    main{
        display: grid;
        grid-template:
        "a"
        "b";
    }
}





